<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css"/>
    <!-- <link rel="stylesheet" href="mq&#45;600&#45;plus.css" media="(min&#45;width: 600px)"> -->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ .Title }}</title>
</head>
<body>
