.sidebar-right {
        width: 25%;
        position: fixed;
        bottom: 50%;
        right: 0;
        padding-left: 1em;
}

.sidebar-left {
        width: 25%;
        position: absolute;
        left: 0;
        margin-top: 8em;
        padding-left: 1em;
        border-right: 1px solid #6c6c6c;
}

.sidebar-left li {
        padding: 0.2em
}
