html {
  font-family: 'Roboto', sans-serif;
    /* font-size: 20px; */
    padding: 1em;
}

p{
line-height: 1.3;
    padding: 0.5em;
}

ul{
    padding: 0.5em;
}

small{
    padding: 1em;
    font-size: 0.6em;
}
h1 {
    font-size: 2em;
    /* padding: 0.5em; */
}

h2 {
    font-size: 1.5em;
    padding: 0.5em;
}

/* @font-face is a css rule which allows you to download a particular font from your server to render a webpage if the user hasn't got that font installed.  */
@font-face {
  font-family: 'Roboto';
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

pre {
background: #282a36;
    border: 1px solid #dddbcc;
    border-radius: 3px;
margin: 0.5em;
padding: 0.8em;
    overflow-x: auto;

}
pre > code{
    color: #f8f8f2;
    background-color: #282a36;
}

img {
    width: 100%;
    height: auto;
}
img {
    width: auto; // Show 4 images in a row normally
    height: auto;
}

@media (max-width: 600px) {
  img {
    width: 100%; // Show 4 images in a row normally
    height: auto;
  }
}

code {
    font-size: 100%;
    color: #00a0fc;
    background-color: #f1f0ea;
    border-radius: 4px;
    line-height: 1.3;
}
